CORE_RUNNING_TAG=v2.5.44-slim
MODULES_RUNNING_TAG=v3.0.9-slim
BASE_URL=https://10.77.30.10:8443
ADMIN_EMAIL=admin@soc-lab.test
ADMIN_ORG=SOC-LAB
ADMIN_PASSWORD=<generate-locally>
ADMIN_KEY=<generate-locally>
MYSQL_PASSWORD=<generate-locally>
MYSQL_ROOT_PASSWORD=<generate-locally>
REDIS_PASSWORD=<generate-locally>
